<h1>Edit a Restaurant</h1>

<%= form_for @restaurant do |r| %>
  <%= r.label :name %>
  <%= r.text_field :name %>
  <%= r.label :website %>
  <%= r.text_field :website %>
  <%= r.submit %>
<% end %>

<p><%= link_to 'Delete', restaurant_path(@restaurant), method: :delete %></p>
<p><%= link_to 'All Restaurants', restaurants_path %></p>
