<h1>Add a Restaurant</h1>

<%= form_for @restaurant do |r| %>
  <%= r.label :name %>
  <%= r.text_field :name %>
  <%= r.label :website %>
  <%= r.text_field :website %>
  <%= r.submit %>
<% end %>

<p><%= link_to 'All Restaurants', restaurants_path %></p>